body{
    background-color: rgb(220, 175, 120)!important;
}
#az{
    margin: 2%;
    padding: 3%;
    background-color: rgba(167, 107, 18, 0.797);
    color: rgb(0, 0, 0);
}
#iki{
    margin: 2%;
    border: solid black;
    width: 500px;;
    }
#plat{
    margin: 2%;
    background-color: rgba(167, 107, 18, 0.797);
    color: rgb(0, 0, 0);
}
#uull{
    color: rgb(79, 51, 10);
}
#text{
    margin: 2%;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    border-radius: 10px;
    box-shadow: 7px 5px 6px coral;
}
button:hover{
    background-color: rgb(179, 255, 2);
}
